:root {
  color-scheme: light dark;

  --color-default: light-dark(#000, #fff);
  --color-red: light-dark(#c33, #ebadad);
  --color-green: light-dark(#228b22, #86e586);
  --color-blue: light-dark(#0070bb, #7eccff);
  --color-orange: light-dark(#79443b, #ffb87e);
  --color-purple: light-dark(#939, #e0a3e0);
  --color-gray: light-dark(#536878, #acb3b9);
}

input[id|='color'] {
  display: none;
}

label[for|='color'] {
  display: inline-block;
  padding: 2px;
  width: 25px;
  height: 25px;
  border: 2px dashed light-dark(#000, #fff);
  cursor: default;
}

label[for|='color']:not(:last-of-type) {
  margin-right: 4px;
}

input[id|='color']:checked + label[for|='color'] {
  border-style: solid;
}

input[id|='color'] + label[for|='color']:hover {
  background: light-dark(#eee, #111);
}

label[for|='color'] > div {
  display: inline-block;
  width: inherit;
  height: inherit;
  cursor: pointer;
}
