:root {
  scroll-behavior: smooth;
}

body {
  margin: 10px;
  background-color: light-dark(#ccc, #000);
  line-height: 1.2;
}

[hidden] {
  display: none !important;
}

section:first-of-type {
  margin-top: 0;
}

section,
aside,
footer {
  margin: 20px auto 0;
  padding: 10px;
  max-width: 1024px;
  box-shadow: 0 0 10px light-dark(#0007, #ccc7);
  background-color: light-dark(#fff, #1b1b1b);
}

p {
  line-height: 1.5;
}

.padded {
  padding: 10px 0;
}

a[href|='#def'] {
  color: inherit;
  text-decoration-style: dotted;
  cursor: help;
}

ul.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery img.thumb {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: auto;
  box-shadow: 0 0 5px light-dark(#0007, #ccc7);
  transition: box-shadow 0.5s;
  cursor: zoom-in;
}

.gallery img.thumb:fullscreen {
  cursor: zoom-out;
}

.gallery img.thumb:hover {
  box-shadow: 0 0 10px light-dark(#00f7, #77f7);
}

dialog {
  min-width: 300px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.54);
}

dialog menu {
  display: flex;
  justify-content: end;
  gap: 4px;
  padding: 0;
}
