#nonogram {
  border-collapse: collapse;
  line-height: normal;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#nonogram tr:first-of-type th {
  padding: 0 0 2px;
  text-align: center;
  vertical-align: bottom;
}

#nonogram th {
  padding: 0 2px 0 0;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #1b1b1b);
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  cursor: default;
}

#nonogram td {
  padding: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #222);
  text-align: center;
  vertical-align: middle;
}

#nonogram td:not(.empty):hover {
  background-color: light-dark(#eee, #444);
}

#nonogram td.empty {
  border-top: none;
  border-left: none;
  visibility: hidden;
}

#nonogram td div {
  width: inherit;
  height: inherit;
  font-weight: bold;
  text-shadow: -1px 0, 0 -1px, 1px 0, 0 1px;
  cursor: pointer;
}
