body {
  margin: 0;
  padding: 10px;
  background: #ccc;
}

section:first-of-type {
  margin-top: 0;
}

section {
  margin: 20px auto 0;
  padding: 10px;
  max-width: 1024px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  background: #fff;
}

.padded {
  padding: 10px 0;
}

img.thumb {
  margin: 5px;
  padding: 5px;
  width: 200px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5);
  transition: 0.5s;
}

img.thumb:hover {
  box-shadow: 0 0 10px rgb(0 0 255 / 0.5);
}
