#statistics table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

#statistics table caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.17em;
  margin: 10px 0;
}

#statistics table th,
#statistics table td {
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #222);
  padding: 4px;
}

#statistics table th:first-child {
  text-align: right;
}

#statistics table td {
  text-align: right;
}

#statistics table td.empty {
  border-top: none;
  border-left: none;
  visibility: hidden;
}

#statistics table td.null {
  color: light-dark(#777, #bbb);
  text-align: center;
}
