#nonogram-game {
  --icon-cross-font-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 40;
  --icon-lock-font-settings: 'FILL' 1, 'wght' 400, 'GRAD' -25, 'opsz' 20;
  --icon-lock-opacity: 70%;

  border-collapse: collapse;
  line-height: normal;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (prefers-color-scheme: dark) {
  #nonogram-game {
    --icon-cross-font-settings: 'FILL' 1, 'wght' 700, 'GRAD' -25, 'opsz' 40;
    --icon-lock-font-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 20;
    --icon-lock-opacity: 54%;
  }
}

#nonogram-game tr:first-of-type th {
  padding: 2px 0;
  text-align: center;
  vertical-align: bottom;
}

#nonogram-game tr:first-of-type th.loading {
  font-weight: normal;
  font-style: italic;
  width: 200px;
  height: 200px;
  vertical-align: middle;
}

#nonogram-game th {
  padding: 0 2px;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #1b1b1b);
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  cursor: default;
}

#nonogram-game td {
  padding: 2px;
  width: 26px;
  height: 26px;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #222);
  text-align: center;
  vertical-align: middle;
}

#nonogram-game td:not(.empty):hover {
  background-color: light-dark(#eee, #444);
}

#nonogram-game td.empty {
  border-top: none;
  border-left: none;
  visibility: hidden;
}

#nonogram-game td .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

#nonogram-game td .cell .material-symbols-sharp {
  pointer-events: none;
}

#nonogram-game td .cell .cross {
  font-variation-settings: var(--icon-cross-font-settings);
  font-size: 32px;
}

#nonogram-game td .cell .lock {
  font-variation-settings: var(--icon-lock-font-settings);
  font-size: 20px;
  opacity: var(--icon-lock-opacity);
  color: light-dark(#fff, #000);
}

/*
  TODO: replace values with `attr(data-color)`.
  https://developer.mozilla.org/en-US/docs/Web/CSS/attr#browser_compatibility
*/
#nonogram-game td .cell.filled {
  background-color: var(--color);
  color: light-dark(#000, #fff);
}

#nonogram-game td .cell:not(.filled) {
  color: var(--color);
}
