#nonogram-game {
  border-collapse: collapse;
  line-height: normal;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#nonogram-game tr:first-of-type th {
  padding: 0 0 2px;
  text-align: center;
  vertical-align: bottom;
}

#nonogram-game th {
  padding: 0 2px 0 0;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #1b1b1b);
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
  cursor: default;
}

#nonogram-game td {
  padding: 2px;
  width: 25px;
  height: 25px;
  border: 2px solid light-dark(#000, #fff);
  background-color: light-dark(#fff, #222);
  text-align: center;
  vertical-align: middle;
}

#nonogram-game td:not(.empty):hover {
  background-color: light-dark(#eee, #444);
}

#nonogram-game td.empty {
  border-top: none;
  border-left: none;
  visibility: hidden;
}

#nonogram-game td div {
  width: inherit;
  height: inherit;
  font-weight: bold;
  text-shadow: -1px 0, 0 -1px, 1px 0, 0 1px;
  cursor: pointer;
}

/*
  TODO: replace values with `attr(data-color)`.
  https://developer.mozilla.org/en-US/docs/Web/CSS/attr#browser_compatibility
*/
#nonogram-game td div.filled {
  background-color: var(--color);
}

#nonogram-game td div:not(.filled) {
  color: var(--color);
}
